<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>meetx</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="static/images/meetx_logo.ico" width = "10px" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/animate.css">
        <link rel="stylesheet" href="static/css/team.css">

    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="static/css/normalize.css">

    <link rel="stylesheet" href="static/css/pass.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    <script src="static/js/vendor/modernizr-2.8.3.min.js"></script>

    

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id = "login-box">
        <img src="static/images/Meetx-alt2.png" width = "125px" style="margin:20px; position: relative; left:25%;">
        <div id="container">
            <div id="input"></div>
            <form id = "myForm"  onSubmit="return sendData();" action="http://127.0.0.1:5000/home" >
                <input type="password" id="hiddenInput" name="pwdd" >

            </form>
        </div> 


    </div>

	
	
 <script src="static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/contact-form.js"></script>
    <script src="static/js/jquery.parallax-1.1.3.js"></script>
    <script src="static/js/scrollUp.min.js"></script>
    <script src="static/js/magnific-popup.min.js"></script>
    <script src="static/js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="static/js/pass.js"></script>
        <script src="static/js/form_val.js"></script>


</body>
</html>
